In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv("devices_20210322_1740.csv", usecols = ['mdt_id','vehicle_id', 'list_of_app', 'rpt_time']) 

#Manually filter last report by latest date and remove the duplicated entries that has an older date
df['rpt_time'] =pd.to_datetime(df.rpt_time, dayfirst=True, errors='ignore')
df.sort_values('rpt_time', ascending = False , inplace = True)

#trim vehicle plate whitespace
df['vehicle_id'] = df.vehicle_id.str.replace(' ', '')

df.set_index('vehicle_id')


#drop duplicated plate number
df.drop_duplicates(subset ="vehicle_id", 
                    keep = "first", inplace = True) 

#import vehicle master list
df_v = pd.read_csv("SMRT-master.csv", index_col = 'vehicle_id') 

df_smrt = pd.merge(df,  
                     df_v,  
                     on ='vehicle_id',  
                     how ='right') 
df_smrt

,mdt_id,vehicle_id,list_of_app,rpt_time,Hired Status
0,861075024187510,SHC4743C,"com.ucast.blackbox:1.0.1034.210305_RC,com.grab...",2021-03-22 09:57:36,Unhired
1,861075024167215,SHB5807B,"com.ucast.blackbox:1.0.1034.210305_RC,com.grab...",2021-03-22 09:57:35,Hired
2,SHF207U ID,SHF207U,"com.ucast.blackbox:1.0.1034.210305_RC,com.grab...",2021-03-22 09:57:35,Hired
3,861075023931462,SHD6399U,"com.ucast.blackbox:1.0.1034.210305_RC,com.grab...",2021-03-22 09:57:35,Hired
4,861075024172819,SHB1812L,"com.ucast.blackbox:1.0.1034.210305_RC,com.grab...",2021-03-22 09:57:32,Hired
...,...,...,...,...,...
1795,NaN,SHF481T,NaN,NaT,Unhired
1796,NaN,SHF484K,NaN,NaT,Unhired
1797,NaN,SHF493J,NaN,NaT,Unhired
1798,NaN,SHF497Z,NaN,NaT,Unhired
1799,NaN,SHF498X,NaN,NaT,Unhired

In [27]:
df_v34 = df_smrt[(df_smrt['list_of_app'].str.contains('com.ucast.blackbox:1.0.1034', na=False))]
df_v34
df_filtered = df_v34

In [60]:
df_not34 = df_smrt[~(df_smrt['list_of_app'].str.contains('com.ucast.blackbox:1.0.1034', na=True))]
df_filtered = df_not34
#not34_grouped = not34[['mdt_id','vehicle_id','list_of_app']].groupby('list_of_app').groups
df_filtered

,mdt_id,vehicle_id,list_of_app,rpt_time,Hired Status
15,861075023936362,SHB1555D,"com.ucast.blackbox:1.0.1028.201216_RC,com.grab...",2021-03-22 09:57:24,Hired
37,861075024176349,SHD6212A,"com.ucast.blackbox:1.0.1017.201029_RC,com.grab...",2021-03-22 09:57:00,Hired
46,SHC4742EID,SHC4742E,"com.ucast.blackbox:1.0.1014.201027_RC,com.grab...",2021-03-22 09:56:52,Unhired
51,861075023933211,SHB1768G,"com.ucast.blackbox:1.0.1028.201216_RC,com.grab...",2021-03-22 09:56:49,Hired
75,861075024194987,SHB1783L,"com.ucast.blackbox:1.0.1028.201216_RC,com.grab...",2021-03-22 09:56:29,Hired
...,...,...,...,...,...
1677,SHF150Z ID,SHF150Z,"com.ucast.blackbox:1.0.1014.201027_RC,com.grab...",2020-11-12 11:14:31,Hired
1678,861075024185936,SHB455R,"com.ucast.blackbox:1.0.1017.201029_RC,com.grab...",2020-11-06 14:04:11,Unhired
1679,SHC4745YID,SHC4745Y,"com.ucast.blackbox:1.0.1014.201027_RC,com.grab...",2020-11-03 15:44:44,Hired
1680,SHB1721RID,SHB1721R,"com.ucast.blackbox:1.0.1014.201027_RC,com.grab...",2020-11-02 15:28:39,Unhired
1681,SHC4094SID,SHC4094S,"com.ucast.blackbox:1.0.1014.201027_RC,com.grab...",2020-10-31 08:40:08,Unhired

In [134]:
#texAPI filters regardless of dataframe
v34 = df_filtered[(df_filtered['list_of_app'].str.contains('com.ucast.blackbox:1.0.1034', na=True))]
v32 = df_filtered[(df_filtered['list_of_app'].str.contains('com.ucast.blackbox:1.0.1032', na=True))]
v28 = df_filtered[(df_filtered['list_of_app'].str.contains('com.ucast.blackbox:1.0.1028', na=True))]
v27 = df_filtered[(df_filtered['list_of_app'].str.contains('com.ucast.blackbox:1.0.1027', na=True))]
v21 = df_filtered[(df_filtered['list_of_app'].str.contains('com.ucast.blackbox:1.0.1021', na=True))]
v17 = df_filtered[(df_filtered['list_of_app'].str.contains('com.ucast.blackbox:1.0.1017', na=True))]
v14 = df_filtered[(df_filtered['list_of_app'].str.contains('com.ucast.blackbox:1.0.1014', na=True))]
noV = df_smrt['list_of_app'].isnull().sum()


blackboxSummary = {'v34': v34['vehicle_id'].count(),
                   'v32': v32['vehicle_id'].count(),
                   'v28': v28['vehicle_id'].count(),
                   'v27': v27['vehicle_id'].count(),
                   'v21': v21['vehicle_id'].count(),
                   'v17': v17['vehicle_id'].count(),
                   'v14': v14['vehicle_id'].count(),
                   'NA' : df_smrt['list_of_app'].isnull().sum(),
                   'Total': df_filtered['vehicle_id'].count() + df_smrt['list_of_app'].isnull().sum()
}
Summary = pd.DataFrame.from_dict(blackboxSummary, orient='index', columns=['UCAST Blackbox'])
Summary
#Summary.loc[:,'Row_Total'] = Summary.sum(numeric_only=True, axis=1)
#Summary
#Summary['UCAST Blackbox'].sum()
#Summary.append(Summary.sum(numeric_only=True), ignore_index=True)

In [142]:
#ota filters regardless of dataframe
ota20only = df_filtered[(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1.0.20', na=True)) &
                 ~(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1', na=True))]
ota16only = df_filtered[(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1.0.16', na=True)) &
                 ~(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1', na=True))]
ota15only = df_filtered[(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1.0.15', na=True)) &
                 ~(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1', na=True)) &
                ~(df_filtered['list_of_app'].str.contains('com.ucast.blackbox.fileupload:1.0.1009', na=True))]
ota2 = df_filtered[(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1', na=True)) &
                 (df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1', na=True))]
ota11only = df_filtered[~(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1', na=True)) &
                 (df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1.0.11', na=True))]
ota8only = df_filtered[~(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1', na=True)) &
                 (df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1.0.8', na=True))]
ota7only = df_filtered[~(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1', na=True)) &
                 (df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1.0.7', na=True))]

ota1615 = df_filtered[((df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1.0.16', na=True)) |
                      (df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1.0.15', na=True))) &
                 ~(df_filtered['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1', na=True))]

OTAsummary={'ota20only':ota20only['vehicle_id'].count(), 
         'ota16only':ota16only['vehicle_id'].count(), 
         'ota15only':ota15only['vehicle_id'].count(),
         'ota2':ota2['vehicle_id'].count(),
         'ota11only':ota11only['vehicle_id'].count(),
         'ota8only':ota8only['vehicle_id'].count(),
         'ota7only':ota7only['vehicle_id'].count(),
         'NA' : df_smrt['list_of_app'].isnull().sum(),
         'Total': df_filtered['vehicle_id'].count() + df_smrt['list_of_app'].isnull().sum()
        }
OTAsummary
OTASummary = pd.DataFrame.from_dict(OTAsummary, orient='index', columns=['OTA Client'])

In [144]:
with pd.ExcelWriter('SMRT MCU Version.xlsx') as writer:
    df_smrt.to_excel(writer, sheet_name='Full',index=None,index_label=None)
    df_v34.to_excel(writer, sheet_name='v34',index=None,index_label=None)
    df_not34.to_excel(writer, sheet_name='not34',index=None,index_label=None)
    Summary.to_excel(writer, sheet_name='Summary')
    OTASummary.to_excel(writer, sheet_name='OTASummary')

In [31]:
notv9 = df_filtered[~(df_filtered['list_of_app'].str.contains('com.ucast.blackbox.fileupload:1.0.1009', na=True))]

mdt_id          1030
vehicle_id      1030
list_of_app     1030
rpt_time        1030
Hired Status    1030
dtype: int64

In [ ]:
ongoing = pd.read_csv("/Users/ucast/Desktop/LiveOTA/ongoing.csv", squeeze = True)
ongoing.values.tolist()

In [ ]:
new = df_smrt["list_of_app"].str.split(",", expand = True) 
vehicle = df_smrt['vehicle_id']
mdt_id = df_smrt['mdt_id']
rpt_time = df_smrt['rpt_time']

new.insert(loc=0, column = "vehicle_id", value= vehicle)
new.insert(loc=0, column = "mdt_id", value= mdt_id)
new.insert(loc=2, column = "rpt_time", value= rpt_time)
new

In [ ]:
df_smrt[(~df_smrt['vehicle_id'].isin(ongoing)) & ~(df_smrt['list_of_app'].str.contains('com.ucast.blackbox:1.0.1034', na=False))]

In [ ]:
#loop through the df and extract only the vehicle and meter/tariff firmware data. exclude the list of software
for i in df_smrt.index:
    if (df_smrt['Hired Status'][i] == 'Hired') & (df_smrt['meter'][i] == True):
        
        df_smrt['meter'][i] = df_smrt['list_of_app'][i].split(',')[-2:]
        
df_smrt

In [ ]:
new.to_csv('test.csv', index=False)

In [ ]:
~(df_smrt['list_of_app'].str.contains('com.ucast.blackbox:1.0.1028.201216_RC', na=False)) & (df_smrt['Hired Status'] == 'Hired') & ~(df_smrt['list_of_app'].str.contains('com.ste.itsd.fms.agilmdmv2:1.0.15', na=False)) & (df_smrt['list_of_app'].str.contains('com.ste.itsd.fms.agilmdm:1.0.7', na=False))

In [ ]:
#filter
df_a = df_smrt[(df_smrt['list_of_app'].str.contains('tariff.firmware', na=False))]

#new dict to store just vehicle and meter/tariff data
vehicle = {}
for i in df_a.index:
    if df_a['list_of_app'][i] == None:
        vehicle[df_a['vehicle_id'][i]] = 'NA'
    else:
        vehicle[df_a['vehicle_id'][i]] = df_a['list_of_app'][i].split(',')[-2:]


df_tariff = pd.DataFrame.from_dict(vehicle, orient='index');
df_tariff
#df_tariff.to_csv('tariff.csv')

df_b = df_smrt[(df_smrt['list_of_app'].str.contains('tariff.firmware::24635', na=False))]
df_b

In [ ]:
df_a

In [ ]:
#new dict to store just vehicle and meter/tariff data

#df_smrt['list_of_app'].split(',')[-2:]

#df_smrt['mdt_id'] = df_smrt['mdt_id'].astype(int)

df_smrt['list_of_app'] = df_smrt['list_of_app'].astype(str)



convert_dict = {'mdt_id': str, 
                'vehicle_id': str,
                'list_of_app': str,
                'Hired Status' : bool
               } 
df_smrt = df_smrt.astype(convert_dict) 

#new dict to store just vehicle and meter/tariff data
vehicle = {}
for i in df_smrt.index:
    df_smrt['list_of_app'][i].split(',')[-2:]

df_smrt